{% extends 'base.html.twig' %}

{% block title %}Editer Reservation{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{asset('assets/style0.css')}}">
{% endblock %}
{% block body %}
<br>
    <h1>Editer Reservation</h1>

    {{ include('reservation/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a style="position:absolute; top:507px;right:800px" href="{{ path('reservation_index') }}"class="btn btn-outline-success ">Retourner à la liste </a>
<div style="position:absolute; top:507px;right:1000px">
    {{ include('reservation/_delete_form.html.twig') }}
    </div>
{% endblock %}
